*{
    padding: 10px!important;
}


body{
    background-color: #C6C5BA;
    padding: 0!important;
}
html {
    padding: 0!important;
}

header{
    height: 50px;
    display: flex;
    align-items: center;
    background-color:  #DEDDD5;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-right: 30px;
    padding-left: 20px;
}

#Process{
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.card{
    background-color: #ffffff;
    box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    max-width: 100%;
    width: 100%;
}

#Detalhes{
    font-size: large;
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.Topics{
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.Inscrever{
    display: flex;
    justify-content: center;
    transition: .3s;
}


.btn:hover{
    background-color: white;
    color: #0096e8;
}

.btn {
    background-color: #0096e8;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; 
    transition: all .3s;

}

summary {
    position: relative;
}

.content{
    margin-top: 10%;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}




.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

table {
    width: 80%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}
tr {
    transition: all .3s;
}
table tr:hover {
    transform: rotate3d(1, 1, 1, 2.5deg) scale(1.1)
    translateY(-10px)
}