*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    box-shadow: 5px 5px 5px 3px rgba(45, 45, 45, 0.2);
}

body{
    background-image: url("/public/images/");
}

.main{
    margin: 8%;
}

.CardProcesso{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(132, 192, 192);
}
