<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CreateProcess.css">
    <link rel="stylesheet" href="HomePage.css">
    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Administrador de Candidatos </title>
</head>

<body>

    <div class="header">
        <p><a href="/AdmHomePage" style="text-decoration: none; color: black;">Voltar</a></p>
        <p>Administrador de Candidatos</p>
    </div>

    <div id="Processo">
        <p>Candidatos Inscritos no Processo de <%=DataProcess[i].Job.name%></p>
    </div>

    <div class="main">
        <table class="container bordered centered highlight responsive-table">
         
            <tr>
                <td><b>Foto de Perfil</b></td>
                <td><b>Nome</b></td>
                <td><b>Data de Nascimento</b></td>
                <td><b>Detalhes</b></td>
                <td><b>Passar</b></td>
                <td><b>Excluir</b></td>
            </tr>

            <%for(let i = 0; i < Candidatos.length) {%>
                <tr>
                    <td><b><%=Candidatos[i].profile_pic%></b></td>
                    <td><b><%=Candidatos[i].name%></b></td>
                    <td><b><%=Candidatos[i].birthdate%></b></td>
                    <td><b>Saiba Mais</b></td>
                    <td><button>Passar</button></td>
                    <td><button>Excluir</button></td>
                </tr>
            <%}%>

        </table>
    </div>

</body>

</html>