<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HomePage.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Adm's Home Page</title>
</head>
<body>

    
<div class="header">
    <p><a href="#" style="text-decoration: none; color: black;">Sair</a></p>
    <p>Tela de Administrador</p>
</div>

    <div id="Processo">
        <p>Lista de Processos</p>
    </div>

    <div class="main">
        <table class="container bordered centered highlight responsive-table">
            <tr>
                <td></td>
                <td></td>
                <td><a id="link" href="#"> Criar Outro Processo</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Data</b></td>
                <td><b>Nome</b></td>
                <td><b>Qtd. Inscritos</b></td>
                <td><b>Detalhes</b></td>
                <td><b>Editar</b></td>
            </tr>

            <% for (let i = 0; i < DataProcess.length; i++) { %>
                <td><%= DataProcess[i].name %> </td> 
                <td><%= formatData(DataProcess[i].date) %> </td> 
                <td><%= DataProcess[i].QtdInscritos %> </td> 
                <td> <a id="link" href="#"> Visualizar</a>  </td> 
                <td> <a id="link" href="#"> Editar</a> </td> 
            <% } %>  


        </table>
    </div>
    <script src="js/data.js"></script>
</body>
</html>
