<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Adm's Home Page</title>
</head>
<body>

    
<div class="header">
    <p><a href="/homePage" style="text-decoration: none; color: black;">Voltar</a></p>
    <p>Informações Sobre o Processo</p>
</div>

    <div id="Processo">
        <p>Lista de Processos</p>
    </div>

    <div class="main">
        <table class="container bordered centered highlight responsive-table">
            <tr>
                <td></td>
                <td></td>
                <td><a id="link" href="#"> Criar Outro Processo</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Data</b></td>
                <td><b>Nome</b></td>
                <td><b>Qtd. Inscritos</b></td>
                <td><b>Detalhes</b></td>
                <td><b>Editar</b></td>
            </tr>

       
        </table>
    </div>

</body>
</html>
