<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosch-Zünder Cadastro | Alunos</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- /CSS -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- /Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <form action="" method="post" class="container100">
        <div class="container-center">
            <div class="back-arrow">
                <a  href="../">←</a>
            </div>
            <div class="input-field-img" id="input-image">
                <input type="file" name="pic" accept="image/*" id="file-input">
            </div>
            <div class="input-field">
                <input type="text" class="input" placeholder="Nome Completo" name="name">
            </div>
            <div class="input-field">
                <input type="text" class="input" placeholder="Informações Adicionais" name="infos">
            </div>
            <p style="text-align: center;">Sala de aula:</p>
            <div class="input-field">
                <select name="sala" id="sala" class="input">
                    <option value="" selected disabled>Escolha</option>
                    <% for (let i=0; i<salas.length; i++) { %>
                        <option value='<%= salas[i].Nome %>' > <%= salas[i].Nome %> </option>
                    <% } %>
                </select>
            </div>
            <button type="submit" value="singUp" class="submit-input">Cadastrar</button>
        </div>
    </form>
</body>
<script src="js/input-image.js"></script>
</html>