<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styleHomePage.css">
    <link rel="stylesheet" href="/public/css/root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Home Page</title>
</head>
<body>

    <div class="header">
        <p>Home Page</p>
        <p>Sair</p>
    </div>

    <div class="Processos">
        <p>Lista de Processos</p>
    </div>

    <div class="main">
        <table class="container bordered centered highlight responsive-table">

            <tr>
                <td><b>Data</b></td>
                <td><b>Nome</b></td>
                <td><b>Vagas</b></td>
                <td><b>Link</b></td>
            </tr>

            <tr>
                <td>08/10/2023</td>
                <td>Mecatrônica</td>
                <td>18</td>
                <td>Saiba Mais</td>
            </tr>

            <tr>
                <td>08/10/2023</td>
                <td>Mecatrônica</td>
                <td>18</td>
                <td>Saiba Mais</td>
            </tr>

            <tr>
                <td>08/10/2023</td>
                <td>Mecatrônica</td>
                <td>18</td>
                <td>Saiba Mais</td>
            </tr>

        </table>
    </div>

</body>
</html>
