<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HomePage.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Home Page</title>
</head>
<body>

    <div class="header">
        <p><a href="#" style="text-decoration: none; color: black;">Sair</a></p>
        <p>Tela de Candidato</p>
    </div>

    <div id="Processo">
        <p>Lista de Processos</p>
    </div>

    <div class="main">
        <table class="container bordered centered highlight responsive-table">
            <tr>
                <td><b>Data</b></td>
                <td><b>Nome</b></td>
                <td><b>Vagas</b></td>
                <td><b>Link</b></td>
            </tr>

            <% for (let i = 0; i < DataProcess.length; i++) { %>
                <tr>
                    <td><%= `${DataProcess[i].date.getDay()}/${DataProcess[i].date.getMonth()}/${DataProcess[i].date.getFullYear()}` %> </td> 
                    <td><%= DataProcess[i].Job.name %> </td> 
                    <td><%= DataProcess[i].capacity %> </td> 
                    <td><a id="link" href="/process/Details/<%=DataProcess[i].id%>"> Visualizar</a></td> 
                </tr>
            <% } %> 

        </table>

    </div>
 
</body>
</html>
