<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosch-Zünder Painel</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- /Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body id="body">
    <header>
        <div>
            <b class="colored-animation">Controle</b>de Estudantes
        </div>

        <div>
            <b>Cadastrar:</b>
            <a href="alunos">Alunos</a> | 
            <a href="salas">Salas</a>
        </div>
    </header>

    <div class="container-input">
        <b>
            Sala de Aula: 
        </b>
        <select name="filter" id="filter" required>
            <option value="" selected>Todos</option>
            <option value="TI">TI</option>
            <option value="Mecatronica">Meca</option>
        </select>
    </div>

    <main id="main">
        <% for (let i = 0; i < alunos.length; i++) { %>
            <div class="card" id="<% alunos[i].idAluno %>" onclick="(()=>{openPopup(this.id)}) ()">
                <div class="card-img">
                    <img src="pics/mrinc.jpg" alt="name">
                </div>
                <div class="card-name">
                    <%= alunos[i].name %>
                </div>
                <div class="card-info">
                    <%= alunos[i].infos %>>
                </div>
                <div class="hover" id="edit">
                    Editar
                </div>
            </div>
        <% } %>

        <div class="card" id="2" onclick="(()=>{openPopup(this.id)}) ()">
            <div class="card-img">
                <img src="images/singup.jpg" alt="name">
            </div>
            <div class="card-name">
                Leonardinho
            </div>
            <div class="card-info">
                Idade: 18
            </div>
            <div class="hover" id="edit">
                Editar
            </div>
        </div>
    </main>
</body>
<div id="popup">
    <div class="popup-card">
        <div class="popup-card-img">
            <img src="imgs/image1.jpg" alt="" id="popup-img">
        </div>
    <div class="popup-card-name">
        Ele
    </div>
    <div class="popup-card-info">
        <input type="text" class="card-input" value="nomeAntigo">
        <input type="text" class="card-input" value="Infos">
        <div style="display: flex; justify-content: space-between;">
            <button type="submit" class="popup-btn confirm">Alterar</button>
            <button onclick="closePopup()" class="popup-btn exit">Sair</button>
        </div>
    </div>
</div>
</html>