<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do Candidato</title>
    
    <!-- links -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/inputs.css">

    <!-- google api -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="402247694391-fd0d49bf15hdi7f0g9j23mh808o1s9g0.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div class="screen">
        <div class="card">
            <div class="sign-in" id="div-signIn">
                <h1>
                    Welcome Back
                </h1>
                <small>
                    Você já possui um cadastro com a gente, apenas faça o login
                </small>
                <a class="btn-sign-in" id="signIn-button" href="login">
                    sign-in
                </a>
            </div>
            <div class="create-account">
                <h1>
                    Create Account
                </h1>
                <div class="icons">
                    <div class="icon" id="facebook-hover">
                        <a href="#" id="facebook"></a>
                    </div>
                    
                    <div class="icon" id="google-hover">
                        <a href="/auth/google" id="google"></a>
                    </div>

                    <div class="icon" id="likedin-hover">
                        <a href="#" id="linkedin"></a>
                    </div>
                </div>

                <small>
                    Ou cadastre-se abaixo
                </small>
                <form class="inputs" action="/register" method="POST">
                    <input type="text" class="input-field" placeholder="Usuario" id="user" name="login">
                    <label for="user">Usuario</label>
                    <input type="password" class="input-field" placeholder="Senha" name="password">
                    <label for="user">Senha</label>
                    <input type="text" class="input-field" placeholder="Nome Completo" name="name">
                    <label for="user">Nome Completo</label>
                    <button type="submit" class="btn-sign-up">sign-up</button>
                </form>

            </div>
        </div>
    </div>
</body>

<script src="js/signin.js"></script>
</html>
