<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do Candidato</title>
    
    <!-- links -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/inputs.css">
</head>
<body>
    <div class="screen">
        <div class="card">
            <div class="sign-in">
                <h1>
                    Welcome Back
                </h1>
                <small>
                    Você já possui um cadastro com a gente, apenas faça o login
                </small>
                <button class="btn-sign-in">
                    sign-in
                </button>
            </div>
            <div class="create-account">
                <h1>
                    Create Account
                </h1>
                <div class="icons">
                    <div class="icon" id="facebook-hover">
                        <a href="#" id="facebook"></a>
                    </div>
                    
                    <div class="icon" id="google-hover">
                        <a href="#" id="google"></a>
                    </div>

                    <div class="icon" id="likedin-hover">
                        <a href="#" id="linkedin"></a>
                    </div>
                </div>

                <small>
                    Ou cadastre-se abaixo
                </small>
                <div class="inputs">
                    <input type="text" class="input-field" placeholder="Usuario" id="user" name="user">
                    <label for="user">Usuario</label>
                    <input type="text" class="input-field" placeholder="Senha">
                    <label for="user">Senha</label>
                    <input type="text" class="input-field" placeholder="Nome Completo">
                    <label for="user">Nome Completo</label>
                    <button type="submit" class="btn-sign-up">sign-up</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>