<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosch-Zünder Cadastro | Salas</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- /CSS -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- /Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div>
            <b class="colored-animation">Controle</b>de Estudantes
        </div>

        <div>
            <b>Cadastrar:</b>
            <a href="alunos">Alunos</a> | 
            <a href="salas">Salas</a>
        </div>
    </header>
    <main>
        <div class="card-sala">
            <h1 class="titulo-sala">
                Cadastrar uma nova sala
            </h1>
            <div class="input-sala">
                <p>
                    Nome
                </p>
                <input type="text" placeholder="Nome" class="input-fields" name="nomeSala">
            </div>
            <div class="input-sala">
                <p>
                    Capacidade
                </p>
                <input type="number" class="input-fields" name="capacidade">
            </div>
        </div>
    </main>
</body>
</html>