<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Candidato | <%=user.name%></title>
    
    <!-- links -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/userPage.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>
    <header>
        <div class="search-box">
            <input type="text" class="search-text" placeholder="Buscar..."/>
            <a class="search-btn">
                <img src="../images/search-icon.png" alt="ðŸ”" height="50px">
            </a>
        </div>
    </header>
    
    <div class="content">
        <div class="profile">
            <div class="profile-cover">
                <div class="profile-pic" id="profile-pic">
                    <input type="file" hidden id="input-profile-pic" name="profile_pic">
                </div>
            </div>
            <div class="profile-name">
                <p id="profile-changeName">
                    <%="a"%> 
                </p>
            </div>
            <div class="profile-curriculum">
                <input name="curriculum" id="curriculum" type="file" hidden value="default.png">
                <label for="curriculum" class="inputfile">Curriculum</label>
            </div>
            <div class="profile-content">

            </div>
        </div>
    </div>
</body>
</html>